@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e9f7f7;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 80px 0px 0px 0px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
